<article class="container infopage">
  <h1>Kontakt/Feedback</h1>
  <p>
    Diese Seite basiert auf dem Projekt
    <a href="https://meine-stadt-transparent.de/" target="_blank" rel="noopener">Meine Stadt Transparent"</a>
    und bereitet die Daten des
    <a href="#" target="_blank" rel="noopener">Ratsinformationssystem</a>
    nutzbar auf.
  </p>
  <p>
    Betrieben wird diese Seite von
    <a href="https://lahr.codes/" target="_blank" rel="noopener">Lahr.codes</a>,
    einem lockeren Zusammenschluss von Menschen, die in ihrer Freizeit ehrenamtlich Projekte umsetzen. Dabei geht es um die Themen Digitale Bildung und mehr Transparenz der Politik und Verwaltung. 
  </p>
  <p>Bei Fragen oder Anmerkungen lässt sich Lahr.coes erreichen:</p>
  <ul>
    <li>Per E-Mail:
    <a href="mailto:info@lahr.coes?subject=Meine-Stadt-Transparent%20Lahr"
      >info@lahr.codes</a
    ></li>
  </ul>
  <p>
    "Meine Stadt Transparent" ist ein Open Source Projekt und kann
    unter Beachtung der MIT Lizenz frei modifiziert und kopiert werden.
  </p>
  <p>
    <a href="https://github.com/meine-stadt-transparent/meine-stadt-transparent" target="_blank" rel="noopener">Source Code "Meine Stadt Transparent" auf GitHub</a>
    <a href="https://github.com/codeforlahr/mst-customizations" target="_blank" rel="noopener">Source Code Anpassungen dieser Instanz auf GitHub</a>
  </p>
</article>
